<!DOCTYPE html>


<html th:lang="#{language_code}" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/Head :: head"></head>


<body>

<nav th:replace="fragments/Navigation :: navigation"></nav>

<div class="container margin-tb">
    <h3 th:text="#{about_us}">></h3>
    <a th:text="#{about_us_text}"></a>
</div>


<div id="map"></div>

<script src="/static/js/map.js"></script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3OHUJtoFpMvVXrX8WMJxefz03G4D58_A&callback=initMap">
</script>
</body>
</html>