<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="navigation" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">ROUTINE STARTER</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navigation">
        <ul class="navbar-nav">
            <li class="nav-item" th:classappend="${#execInfo.processedTemplateName == 'Home'} ? 'active' : ''">
                <a class="nav-link" href="/home">
                    <i class="fas fa-home fa-sm"></i> Home
                </a>
            </li>

            <li class="nav-item" th:classappend="${#execInfo.processedTemplateName == 'About'} ? 'active' : ''">
                <a class="nav-link" href="/about">
                    <i class="fas fa-info-circle fa-sm"></i> About us
                </a>
            </li>

            <li class="nav-item" th:classappend="${#execInfo.processedTemplateName == 'Contact'} ? 'active' : ''">
                <a class="nav-link" href="/contact">
                    <i class="fas fa-at fa-sm"></i> Contact us
                </a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item" th:classappend="${#execInfo.processedTemplateName == 'SignUp'} ? 'active' : ''">
                <a class="nav-link" href="/signup">
                    <i class="far fa-id-badge fa-sm"></i> Sign up
                </a>
            </li>

            <li class="nav-item" th:classappend="${#execInfo.processedTemplateName == 'Login'} ? 'active' : ''">
                <a class="nav-link" href="/login">
                    <i class="fas fa-sign-in-alt fa-sm"></i> Login
                </a>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>