<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="navigation" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">ROUTINE STARTER</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navigation">
        <ul class="navbar-nav">
            <li class="nav-item" th:classappend="${#execInfo.processedTemplateName == 'Home'} ? 'active' : ''">
                <a class="nav-link" href="/home">
                    <em class="fas fa-home fa-sm"> </em>
                    <span th:text="#{home}"></span>
                </a>
            </li>

            <li class="nav-item" th:classappend="${#execInfo.processedTemplateName == 'About'} ? 'active' : ''">
                <a class="nav-link" href="/about">
                    <em class="fas fa-info-circle fa-sm"></em>
                    <span th:text="#{about_us}"></span>
                </a>
            </li>

            <li class="nav-item" th:classappend="${#execInfo.processedTemplateName == 'Files'} ? 'active' : ''">
                <a class="nav-link" href="/files">
                    <em  class="far fa-file"></em>
                    <span th:text="#{files}"></span>
                </a>
            </li>

            <li class="nav-item" th:classappend="${#execInfo.processedTemplateName == 'Chat'} ? 'active' : ''">
                <a class="nav-link" href="/chat">
                    <em class="far fa-comments"></em>
                    <span th:text="#{chat}"></span>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li th:if="${user == null}" class="nav-item"
                th:classappend="${#execInfo.processedTemplateName == 'SignUp'} ? 'active' : ''">
                <a class="nav-link" href="/signup">
                    <em class="far fa-id-badge fa-sm"></em>
                    <span th:text="#{sign_in}"></span>
                </a>
            </li>

            <!--<li class="nav-item" th:classappend="${#execInfo.processedTemplateName == 'Login'} ? 'active' : ''">-->
            <!--<a class="nav-link" href="/login">-->
            <!--<em class="fas fa-sign-in-alt fa-sm"></em>-->
            <!--<span th:text="#{login}"></span>-->
            <!--</a>-->
            <!--</li>-->

            <li class="nav-item" th:classappend="${#execInfo.processedTemplateName == 'Google'} ? 'active' : ''">
                <a class="nav-link" href="/google">
                    <em class="fab fa-google"></em>
                    <span th:text="#{Google}"></span>
                </a>
            </li>

            <li class="nav-item" th:classappend="${#execInfo.processedTemplateName == 'Log Out'} ? 'active' : ''">
                <a class="nav-link" href="/logoutt">
                    <em class="fab fa-logout"></em>
                    Log Out
                </a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <span th:text="#{language}"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="?lang=en" rel="alternate" hreflang="en"
                       th:text="#{eng.choice}"></a>
                    <a class="dropdown-item" href="?lang=et" rel="alternate" hreflang="et"
                       th:text="#{et.choice}"></a>
                    <a class="dropdown-item" href="?lang=ru" rel="alternate" hreflang="ru"
                       th:text="#{rus.choice}"></a>

                </div>
            </li>


        </ul>
    </div>


</nav>
</body>
</html>