.btn {
    display: block;
    margin: 0 auto;
}


.margin-tb {
    margin-top: 64px;
    margin-bottom: 64px;
}

input:invalid {
    border: 2px dashed red;
}

input:valid {
    border: 2px solid black;
}

#map {
    width: 100%;
    height: 400px;
    background-color: grey;
}
html {
    margin: 40px auto;
    text-align: center;
}
.btn-googleplus {
    background: #E93F2E;
    border-radius: 0;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #b72213;
}
.btn-googleplus:link, .btn-googleplus:visited {
    color: #fff;
}
.btn-googleplus:active, .btn-googleplus:hover {
    background: #b72213;
    color: #fff;
}










