.btn {
    display: block;
    margin: 0 auto;
}

.margin-tb {
    margin-top: 64px;
    margin-bottom: 64px;
}

.form-group input:invalid {
    border: 2px dashed red;
}

.form-group input:valid {
    border: 2px solid black;
}

#map {
    width: 100%;
    height: 400px;
    background-color: grey;
}

.stat-canvas {
    margin-bottom: 2rem;
}

.stat-canvas:last-child {
    margin-bottom: 0;
}