
.margin-tb {
    margin-top: 64px;
    margin-bottom: 64px;
}

input:invalid {
    border: 2px dashed red;
}

input:valid {
    border: 2px solid black;
}

#map {
    width: 100%;
    height: 400px;
    background-color: grey;
}

* {box-sizing: border-box}

body {
    background-image: url("Background.jpg");
    background-size: cover;
    overflow-x: hidden;
    -webkit-animation: imgFade 10s;
    animation: imgFade 10s;
}

@-webkit-keyframes imgFade
{
    from {background: #FFF;}
    to {background: url(Background.jpg) 0 -120px;}
}

@keyframes imgFade
{
    from {background: #FFF;}
    to {background: url(Background.jpg) 0 -120px;}
}








