<!DOCTYPE html>


<html th:lang="#{language_code}" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/Head :: head"></head>


<body>

<nav th:replace="fragments/Navigation :: navigation"></nav>

<div class="container margin-tb">
    <h3 th:text="#{about_us}">></h3>
    <a th:text="#{about_us_text}"></a>
</div>


<div id="map"></div>
<script>
    // Initialize and add the map
    function initMap() {

        var ylikool = {lat: 58.3782485, lng: 26.7124846};

        var map = new google.maps.Map(
            document.getElementById('map'), {zoom: 4, center: ylikool});

        var marker = new google.maps.Marker({position: ylikool, map: map});
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3OHUJtoFpMvVXrX8WMJxefz03G4D58_A&callback=initMap">
</script>
</body>
</html>