<!DOCTYPE html>

<html th:lang="#{language_code}" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/Head :: head"></head>

<body>

<nav th:replace="fragments/Navigation :: navigation"></nav>
<div class="container margin-tb">
    <div class="btn-header">
        <a class="btn btn-danger upload-btn" href="/uploadfile">
            <i class="far fa-plus-square"></i> <span th:text="#{uploadfile}"></span>
        </a>
    </div>

    <table class="table table-dark">
        <thead>
        <tr>
            <th> Title</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${files.empty}">
            <td colspan="2"> No files yet</td>
        </tr>
        <tr th:each="file : ${files}">
            <td><span th:text="${file.id}"> th:text="#{routine_text}"> </span></td>
            <td><span th:text="${file.fileName}"> th:text="#{routine_title}"> </span></td>
            <td><span th:text="${file.fileType}"> th:text="#{routine_text}"> </span></td>
            <td><span th:text="${file.data}"> th:text="#{routine_text}"> </span></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container margin-tb">
    <ul>
        <li>Allalaadimiseks minge routinestarter.com/download/{fileId}</li>

        <li>Kustutamiseks minge routinestarter.com/delete/{fileId}</li>
    </ul>
</div>

</body>
</html>