<!DOCTYPE html>

<html th:lang="#{language_code}" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/Head :: head">
    <title> File </title>
</head>

<body>

<nav th:replace="fragments/Navigation :: navigation"></nav>

<noscript>
    <h2>Sorry! Your browser doesn't support Javascript</h2>
</noscript>
<div class="upload-container">
    <div class="upload-header">
        <h2>File upload</h2>
    </div>
    <div class="upload-content">
        <div class="single-upload">
            <h3>Upload Single File</h3>
            <form action="" method="post" enctype="multipart/form-data" id="singleUploadForm" name="singleUploadForm">
                <input id="singleFileUploadInput" type="file" name="file" class="file-input" required />
                <button type="submit" class="primary submit-btn">Submit</button>
            </form>
            <div class="upload-response">
                <div id="singleFileUploadError"></div>
                <div id="singleFileUploadSuccess"></div>
            </div>
        </div>
    </div>
</div>
<script src="static/js/mainFile.js" ></script>
</body>
</html>