<!DOCTYPE html>

<!--<html th:lang="#{language_code}" xmlns:th="http://www.thymeleaf.org">-->

<html th:lang="#{language_code}" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <script src="https://apis.google.com/js/api:client.js"></script>
    <script>
        var googleUser = {};
        var startApp = function() {
            gapi.load('auth2', function(){
                // Retrieve the singleton for the GoogleAuth library and set up the client.
                auth2 = gapi.auth2.init({
                    callback: "onSignInCompleted",
                    client_id: '429928604467-ct36hrt1d2pr0g9u1ve6keou3525fcq5.apps.googleusercontent.com',
                    cookiepolicy: 'single_host_origin',
                    fetch_basic_profile: true,
                    scope: "https://www.googleapis.com/auth/plus.login",
                    requestvisibleactions: "http://schemas.google.com/AddActivity"
                    // apiKey: 'AIzaSyATLgTMIAtsuAUHQctKiueCZ4B3ObqJh4s'

                });
                auth2.signIn().then(function () {
                    console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
                    console.log(auth2.currentUser.get().getId())
                    googleUser = gapi.auth2.getAuthInstance();
                    googleUser.isSignedIn.listen(updateSigninStatus);

                    var profile = googleUser.getBasicProfile();
                    console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
                    console.log('Name: ' + profile.getName());
                    console.log('Image URL: ' + profile.getImageUrl());
                    console.log('Email: ' + profile.getEmail());
                });
                auth2.signOut().then(function () {
                    googleUser = gapi.auth2.getAuthInstance();
                    auth2.disconnect();
                    console.log('User signed out');
                });


                attachSignin(document.getElementById('customBtn'));
            });
        };

        function attachSignin(element) {
            console.log(element.id);
            auth2.attachClickHandler(element, {},
                function(googleUser) {
                    document.getElementById('name').innerText = "Signed in: " +
                        googleUser.getBasicProfile().getName();
                }, function(error) {
                    alert(JSON.stringify(error, undefined, 2));
                });
        }

    </script>
    <style type="text/css">
        #customBtn {
            display: inline-block;
            background: white;
            color: #444;
            width: 190px;
            border-radius: 5px;
            border: thin solid #888;
            box-shadow: 1px 1px 1px grey;
            white-space: nowrap;
        }
        #customBtn:hover {
            cursor: pointer;
        }
        span.label {
            font-family: serif;
            font-weight: normal;
        }
        span.icon {
            background: url('/identity/sign-in/g-normal.png') transparent 5px 50% no-repeat;
            display: inline-block;
            vertical-align: middle;
            width: 42px;
            height: 42px;
        }
        span.buttonText {
            display: inline-block;
            vertical-align: middle;
            padding-left: 42px;
            padding-right: 42px;
            font-size: 14px;
            font-weight: bold;
            /* Use the Roboto font that is loaded in the <head> */
            font-family: 'Roboto', sans-serif;
        }
    </style>
</head>
<body>

<nav th:fragment="navigation" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">ROUTINE STARTER</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navigation">
        <ul class="navbar-nav">
            <li class="nav-item" th:classappend="${#execInfo.processedTemplateName == 'Home'} ? 'active' : ''">
                <a class="nav-link" href="/home">
                    <em class="fas fa-home fa-sm"> </em>
                    <span th:text="#{home}"></span>
                </a>
            </li>

            <li class="nav-item" th:classappend="${#execInfo.processedTemplateName == 'About'} ? 'active' : ''">
                <a class="nav-link" href="/about">
                    <em class="fas fa-info-circle fa-sm"></em>
                    <span th:text="#{about_us}"></span>
                </a>
            </li>

            <li class="nav-item" th:classappend="${#execInfo.processedTemplateName == 'Files'} ? 'active' : ''">
                <a class="nav-link" href="/files">
                    <em class="fas fa-info-circle fa-sm"></em>
                    <span th:text="#{files}"></span>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li th:if="${user == null}" class="nav-item" th:classappend="${#execInfo.processedTemplateName == 'SignUp'} ? 'active' : ''">
                <a class="nav-link" href="/signup">
                    <em class="far fa-id-badge fa-sm"></em>
                    <span th:text="#{sign_in}"></span>
                </a>
            </li>

            <!--<li class="nav-item" th:classappend="${#execInfo.processedTemplateName == 'Login'} ? 'active' : ''">-->
            <!--<a class="nav-link" href="/login">-->
            <!--<em class="fas fa-sign-in-alt fa-sm"></em>-->
            <!--<span th:text="#{Google}"></span>-->
            <!--</a>-->
            <!--</li>-->
            <li class="nav-item" th:classappend="${#execInfo.processedTemplateName == 'Login'} ? 'active' : ''">
                <a class="nav-link" href="/login">
                    <em class="fas fa-sign-in-alt fa-sm"></em>
                    <span th:text="#{login}"></span>
                </a>
            </li>
            <li class="nav-item" th:classappend="${#execInfo.processedTemplateName == 'Google'} ? 'active' : ''">
                <a class="nav-link" href="/google">
                    <em class="fab fa-google"></em>
                    <span th:text="#{Google}"></span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span th:text="#{language}"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="?lang=en" rel="alternate" hreflang="en"
                       th:text="#{eng.choice}"></a>
                    <a class="dropdown-item" href="?lang=et" rel="alternate" hreflang="et"
                       th:text="#{et.choice}"></a>
                    <a class="dropdown-item" href="?lang=ru" rel="alternate" hreflang="ru"
                       th:text="#{rus.choice}"></a>

                </div>
            </li>


        </ul>
    </div>



</nav>


<a href="/index.html" onclick="signOut();">Sign out</a>
<!-- In the callback, you would hide the gSignInWrapper element on a
successful sign in -->
<div id="gSignInWrapper">
    <span class="label">Sign in with:</span>
    <div id="customBtn" class="customGPlusSignIn">
        <span class="icon"></span>
        <span class="buttonText">Google</span>
    </div>
</div>
<div id="name"></div>
<script>startApp();</script>
</body>
</html>