<!DOCTYPE html>

<html th:lang="#{language_code}" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/Head :: head"></head>

<body>

<nav th:replace="fragments/Navigation :: navigation"></nav>

<div class="container margin-tb">
    <h3 th:text="#{your_personal_schedule}"> </h3>
    <p th:text="#{schedule_text}"></p>

    <button onclick="myFunction()">Try it</button>

    <div id="Show and Hide">
        Your vis
    </div>

</div>

<script>
    function myFunction() {
        var x = document.getElementById("Show and Hide");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>
</div>

</body>

</html>