<!DOCTYPE html>

<html th:lang="#{language_code}" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/Head :: head"></head>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"
            integrity="sha256-CutOzxCRucUsn6C6TcEYsauvvYilEniTXldPa6/wu0k=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"
            integrity="sha256-oSgtFCCmHWRPQ/JmR4OoZ3Xke1Pw4v50uh6pLcu+fIc=" crossorigin="anonymous"></script>
</head>

<body>
<nav th:replace="fragments/Navigation :: navigation"></nav>

<div class="container margin-tb">
    <canvas class="stat-canvas" id="operating-systems" th:data-stats="${osStats}"></canvas>
    <canvas class="stat-canvas" id="browsers" th:data-stats="${browserStats}"></canvas>
    <canvas class="stat-canvas" id="dates" th:data-stats="${dates}"></canvas>
</div>

<script src="/static/js/charts.js"></script>
</body>
</html>